.terms-page {
  padding: 6vw;

  h1 {
    @include breakpoint($mobile-bp) {
      line-height: 1em;
    }
  }

  p {
    font-size: 1em;
  }

  ul {
    list-style: disc;
    margin-left: 3em;
  }

  #dot-number {
    list-style: none;
  }

  ol {
    margin-left: 3em;
  }
}
