<section class="container is-fluid columns is-multiline int-page-section faq-page">
  <div class="column is-full is-gray">
    <h1>Frequently Asked Questions</h1>
  </div>
  <div class="column is-half">
    <h3 class="is-size-5">How do I book my appointment?</h3>
    <p>You can book your appointment in our app. After downloading our app here, choose a stylist you like, and book your time. Easy as that!</p>
  </div>
  <div class="column is-half">
    <h3 class="is-size-5">How do I pay?</h3>
    <p>You can pay and tip through the app after your appointment has been completed.</p>
  </div>
  <div class="column is-half">
    <h3 class="is-size-5">How far in advance do I need to schedule?</h3>
    <p>While we are an on-demand service, if you need an early morning appointment between 6 and 8 am, you will need to book the day before. The more notice the better for our stylists, but after 8am you will just click to see who is available at the time you request.</p>
  </div>
  <div class="column is-half">
    <h3 class="is-size-5">How should I prepare for my appointment?</h3>
    <p>If at home, have your hair washed and dried about 80% before the stylist arrives. If at the office, you can opt for a dry styling (hot tools) or a "wet to dry" styling as our stylists will bring spray bottles with them.</p>
  </div>
  <div class="column is-half">
    <h3 class="is-size-5">What styles do you offer?</h3>
    <p>We offer "wet to dry" blowouts and dry styles with hot tools such as curling wand, curling iron and flat iron.</p>
  </div>
  <div class="column is-half">
    <h3 class="is-size-5">Can I request my favorite Stylist?</h3>
    <p>Yes, however, the more advanced notice you give the better the chance of them being available. You can save your favorite Stylists and book them in advance as their availability allows.</p>
  </div>
  <div class="column is-half">
    <h3 class="is-size-5">What is your cancellation policy?</h3>
    <p>Our cancellation policy states that if you cancel 1 to 4 hours prior to your appointment, you will be charged 50% of the total cost. Appointments that are cancelled within the hour of the appointment will be charged the full amount.</p>
  </div>
  <div class="column is-half">
    <h3 class="is-size-5">Can I buy gift cards?</h3>
    <p>Gift cards are currently not available, be we plan to make them available soon.</p>
  </div>
</section>
