<section class="container is-fluid columns is-multiline int-page-section privacy-page">
  <div class="column is-full is-gray">
    <h1>Privacy Policy</h1>
  </div>
  <div class="column is-full">
    <p><strong>Effective January 2, 2018</strong></p>
    <p>BlowOutGoOut. LLC, exist to connect users and stylists through its application based technology platform. In the following privacy policy, we tell you what information we receive from users and stylists, and how we use it to connect users with stylists in order to continue the improvement of our services. Below, we explain how you can share with other users and stylists as part of our mission to make people beautiful one blow out at a time.</p>
  </div>
  <div class="column is-full">
    <h2>About this Privacy Policy</h2>
    <p>BlowOutGoOut (“Bogo,” “we,” “us,” and/or “our”) values the privacy of individuals who use our mobile applications, website, and related services (further known as , the “BlowOutGoOut platform ”). This privacy policy explains how we collect, use, and share information from Bogo (“users”), comprised of both Bogo users and Bogo stylists (including stylist applicants) (“Stylist”). Beyond the privacy policy, your use of Bogo is also subject to our Terms of Service (www.blowoutgoout.com/terms)</p>
  </div>
  <div class="column is-full">
    <h2>1. Collected Information</h2>
    <h3>1.1 Information you provide to us</h3>
    <p><strong>Registration Information.</strong> When you sign up for a BlowOutGoOut account, you give us your first name, last name, phone number and email address. If you decide to sign up for BlowOutGoOut using social media accounts, we will also get basic information from your social media site profile like your name, gender, profile photo, and friends.<br><br>

    <strong>User Profile Information.</strong> When you join the BlowOutGoOut platform, you can create a profile to share about yourself. Your name and profile photos is always part of your profile. Read more below about how you can control who sees your profile. When you add a credit card or payment method to your BlowOutGoOut account, a third party that handles payments for us will receive your card information. To keep your financial data secure, we do not store full credit card information on our servers.<br><br>

    <strong>Communications.</strong> If you contact us directly, we may receive additional information about you. For example, when you contact our support team, we will receive your name, phone number, email address, the contents of a message or attachments that you may send to us, and other information you choose to provide.<br><br>

    <strong>Stylist Application Information.</strong> If you decide to join BlowOutGoOut as a stylist, in addition to the basic registration information we ask you for your date of birth, physical address, Social Security number, driver’s license information, state issued cosmetology license information and in some jurisdictions we may collect additional licensing or permitting information. We share this information with our partners who help us by running background checks on stylists to help protect the users of BlowOutGoOut.<br><br>

    <strong>Payment Information.</strong> To make sure stylists get paid, we keep information about stylists’ bank routing numbers, tax information, and any other payment information provided by stylists.</p>
  </div>
  <div class="column is-full">
    <h3>1.2 Collected information when you use the BlowOutGoOut platform</h3>
    <p><strong>Location Information.</strong> BlowOutGoOut is all about connecting users and stylists. To do this, we need to know where you are. When you open the BlowOutGoOut Application on your mobile device, we receive your location. We may also collect the precise location of your device when the app is running in the foreground or background. Your location information is necessary for things like matching users with stylists near you, and determining service location. If you give us permission through your device settings or BlowOutGoOut app, we may collect your location while the app is off to identify promotions or service updates in your area.<br><br>

    <strong>Device Information.</strong> BlowOutGoOut receives information from users devices, including IP address, web browser type, mobile operating system, phone carrier and manufacturer, application installations, device identifiers, mobile advertising identifiers, push notification tokens, and, if you register with your social media accounts, your social media site identifier.<br><br>

    <strong>Usage Information.</strong> To help us understand how you use the BlowOutGoOut platform and to help us improve it, we automatically receive information about your interactions with the BlowOutGoOut platform, such as the pages or other content you view, your actions within the BlowOutGoOut app, and the dates and times of your visits.<br><br>

    <strong>Call and Text Information.</strong> We work with a third party partner to facilitate phone calls and text messages between users and stylists who are scheduling an appointment. We receive information about these communications including the date and time of the call or SMS message, the parties’ phone numbers, and the content of any SMS messages. For security purposes, we may also monitor and/or record the contents of phone calls made on the BlowOutGoOut platform, such as those between users and stylists. You will be given a notice that your call may be recorded, and by proceeding you agree to allow BlowOutGoOut to monitor and or record your call.<br><br>

    <strong>User Feedback.</strong> We at BlowOutGoOut, want to make sure Users are always enjoying great BlowOuts. Users and Stylists can rate and review each other at the end of every BlowOut appointment. We receive information about ratings and reviews and, as we explain below, we give users information about stylists’ ratings and review as well the same to stylists about the users.<br><br>

    <strong>Address Book Contacts.</strong> If you permit BlowOutGoOut to access the address book on your device through the permission system used by your mobile platform, we may access and store names and contact information from your address book to facilitate invitations and social interactions that you initiate through our platform and for other purposes described in this privacy policy or at the time of consent or collection.<br><br>

    <strong>Information from Cookies and Other Technologies.</strong> We will collect information through the use of “cookies”, tracking pixels, and similar technologies to understand how you navigate through the BlowOutGoOut platform and interact with BlowOutGoOut advertisements, to learn what content is popular, and to save your preferences. Cookies are small text files that web servers place on your device; they are designed to store basic information and to help websites and apps recognize your browser. We may use both session cookies and persistent cookies. A session cookie disappears after you close your browser. A persistent cookie remains after you close your browser and may be accessed every time you use the BlowOutGoOut platform. You should consult your web browsers to modify your cookie settings. Please note that if you delete or choose not to accept cookies from us, you may be missing out on certain features of the BlowOutGoOut platform.</p>
  </div>
  <div class="column is-full">
    <h3>1.3 Information we collect from third parties</h3>
    <p><strong>Third party services.</strong> If you choose to register for BlowOutGoOut or otherwise link your BlowOutGoOut account with a third party’s service (such as facebook, linkedin,etc.), we may receive the same type of information we collect from you previously described above directly from those services.<br><br>

    <strong>Third party partners.</strong> We may receive additional information about you, such as demographic data, payment information, or fraud detection information, from third party partners and combine it with other information that we have about you.<br><br>

    <strong>Background information on stylists.</strong> BlowOutGoOut works with third party partners to perform criminal background checks on stylists, and we receive information from them such as publicly available information about a stylist’s record or criminal history.</p>
  </div>
  <div class="column is-full">
    <h3>1.4 How we use the collected information</h3>
    <p>We use the information we collect from all Users to:</p>
    <ul>
      <li>Connect with stylists</li>
      <li>Facilitate transactions and payments</li>
      <li>Provide you with customer service and support</li>
      <li>Provide, improve and expand, the BlowOutGoOut platform</li>
      <li>Analytics on how and when users use the BlowOutGoOut Platform</li>
      <li>Communicate with users, either directly or through third party partners, including for marketing and promotional purposes</li>
      <li>Send users and stylists text messages and push notifications</li>
      <li>Find and/or prevent fraud</li>
    </ul>
  </div>
  <div class="column is-full">
    <h2>2.How we share the collected information</h2>
    <h3>2.1 Sharing between our users</h3>
    <p><strong>Sharing between users and stylists.</strong> Users and stylists that have set their BlowOut appointment are able to see necessary information about each other, such as names, ratings, photos and any information they have added to their profiles. Users and stylists who connect their BlowOutGoOut accounts to social media sites will also be able to see their mutual social media site friends. Stylists see the service location that the user has provided. Users ratings of stylists are shared with stylist on a regular basis. We de-identify the ratings and feedback, but we can’t rule out that a stylist may be able to identify the user that provided the rating or feedback.<br><br>

    Although we help users and stylists communicate with one another to arrange a BlowOut Appointment, we do not share actual phone numbers or other contact information with other users.<br><br>

    <strong>Sharing between BlowOutGoOut and third parties.</strong> API and integration partners. If you connect to the BlowOutGoOut platform through an integration with a third party service, we may share information about your use of the BlowOutGoOut platform with that third party. We may share your information with our third party partners in order to receive additional information about you. We may also share your information with third party partners to create offers that may be of interest to you.<br><br>

    <strong>Service providers.</strong> We work with third party service providers to perform services on our behalf, and we may share your information with such service providers to help us provide the BlowOutGoOut platform, including all of the things described in Section 1.3 above.<br><br>

    <strong>Other sharing.</strong> We may share your information with third parties in the following cases:</p>
    <ul>
      <li>With law enforcement officials, government authorities, or third parties if we think doing so is necessary to protect the rights, property, or safety of BlowOutGoOut users and stylists</li>
      <li>If a government authority requests information and we think disclosure is required or appropriate in order to comply with laws, regulations, or a legal process</li>
      <li>To comply with a legal requirement or process, including but not limited to, civil and criminal subpoenas, court orders or other compulsory disclosures</li>
      <li>With insurance providers to help determine and provide relevant coverage in the event of an incident</li>
      <li>To provide information about the use of the BlowOutGoOut platform to potential business partners in aggregated or de-identified form that can’t reasonably be used to identify you</li>
      <li>While negotiating or in relation to a change of corporate control such as a restructuring, merger or sale of our assets</li>
    </ul>
  </div>
  <div class="column is-full">
    <h3>2.2 Your Choices</h3>
    <p><strong>Email Subscriptions.</strong> You can always unsubscribe from our commercial or promotional emails but we will still send you transactional and relational emails about your account use of the BlowOutGoOut platform.<br><br>

    <strong>Profile Information.</strong> While your name will always be shared with stylists, you can delete any additional information that you added to your profile at any time. Users will always be able to see stylists names, rating, and profile photos.<br><br>

    <strong>Location Information.</strong> While you can prevent your device from sharing location information at any time through your device’s operating system settings, user and stylist location is a must for the BlowOutGoOut platform in order to provide our services to you.<br><br>

    <strong>Facebook Friends.</strong> You can control whether to enable or disable the Facebook mutual friends feature through your profile settings.<br><br>

    <strong>Editing and accessing your information.</strong> You can review and edit certain account information by logging in to your account settings and profile (stylists may edit additional information through the stylist dashboard). If would like to terminate your BlowOutGoOut account, please contact our support team with your request. If you choose to terminate your account, we will deactivate it for you but may retain information from your account for a certain period of time and disclose it in a manner consistent with our practices under this privacy policy for accounts that are not closed. We also may retain information from your account to collect any fees owed, resolve disputes, troubleshoot problems, analyze usage of the BlowOutGoOut platform, assist with any investigations, prevent fraud, enforce our terms of service, or take other actions as required or permitted by law.</p>
  </div>
  <div class="column is-full">
    <h3>2.2 Your Choices</h3>
    <p><strong>Data Security.</strong> We are committed to protecting the data of each user and stylist. Even though we take reasonable precautions to protect your data, no security measures can be 100% secure, and we cannot guarantee the security of your data.<br><br>

    <strong>Children’s Privacy.</strong> BlowOutGoOut is not directed to children, and we don’t knowingly collect personal information from children under 13. If we find out that a child is under the age of 13 and has given us personal information, we will take steps to delete that information. If you believe that a child under the age of 13 has given us personal information, please contact our support team.<br><br>

    <strong>Changes to Our Privacy Policy.</strong> We may make changes to this Privacy Policy at any necessary time and If we make any material changes, we will let you know through the BlowOutGoOut platform, by email, and/or other forms of communication. We encourage you to read this privacy policy periodically to stay current with and about our privacy practices. As long as you use the BlowOutGoOut platform, you are agreeing to this privacy policy and any or all updates.<br><br>

    <strong>Contact Information.</strong> Feel free to contact us at any time with any questions or comments about this privacy policy, your personal information, our use and sharing practices, or your consent choices by contacting our support team.</p>
  </div>

</section>
