<section class="container is-fluid columns is-multiline int-page-section privacy-page">
  <div class="column is-full is-gray">
    <h1>Privacy Policy</h1>
  </div>
  <div class="column is-full">
    <p><strong>Effective January 2, 2018</strong></p>
    <p>BlowOutGoOut. LLC, exist to connect users and stylists through its application based technology platform. In the following privacy policy, we tell you what information we receive from users and stylists, and how we use it to connect users with stylists in order to continue the improvement of our services. Below, we explain how you can share with other users and stylists as part of our mission to make people beautiful one blow out at a time.</p>
  </div>
  <div class="column is-full">
    <h2>About this Privacy Policy</h2>
    <p>BlowOutGoOut (“Bogo,” “we,” “us,” and/or “our”) values the privacy of individuals who use our mobile applications, website, and related services (further known as , the “BlowOutGoOut platform ”). This privacy policy explains how we collect, use, and share information from Bogo (“users”), comprised of both Bogo users and Bogo stylists (including stylist applicants) (“Stylist”). Beyond the privacy policy, your use of Bogo is also subject to our Terms of Service (www.blowoutgoout.com/terms)</p>
  </div>
  <div class="column is-full">
    <h2>1. Collected Information</h2>
    <h3>1.1 Information you provide to us</h3>
    <p><strong>Registration Information.</strong> When you sign up for a BlowOutGoOut account, you give us your first name, last name, phone number and email address. If you decide to sign up for BlowOutGoOut using social media accounts, we will also get basic information from your social media site profile like your name, gender, profile photo, and friends.<br><br>

    <strong>User Profile Information.</strong> When you join the BlowOutGoOut platform, you can create a profile to share about yourself. Your name and profile photos is always part of your profile. Read more below about how you can control who sees your profile. When you add a credit card or payment method to your BlowOutGoOut account, a third party that handles payments for us will receive your card information. To keep your financial data secure, we do not store full credit card information on our servers.<br><br>

    <strong>Communications.</strong> If you contact us directly, we may receive additional information about you. For example, when you contact our support team, we will receive your name, phone number, email address, the contents of a message or attachments that you may send to us, and other information you choose to provide.<br><br>

    <strong>Stylist Application Information.</strong> If you decide to join BlowOutGoOut as a stylist, in addition to the basic registration information we ask you for your date of birth, physical address, Social Security number, driver’s license information, state issued cosmetology license information and in some jurisdictions we may collect additional licensing or permitting information. We share this information with our partners who help us by running background checks on stylists to help protect the users of BlowOutGoOut.<br><br>

    <strong>Payment Information.</strong> To make sure stylists get paid, we keep information about stylists’ bank routing numbers, tax information, and any other payment information provided by stylists.</p>
  </div>
  <div class="column is-full">
    <h3>1.2 Collected information when you use the BlowOutGoOut platform</h3>
    <p><strong>Location Information.</strong> BlowOutGoOut is all about connecting users and stylists. To do this, we need to know where you are. When you open the BlowOutGoOut Application on your mobile device, we receive your location. We may also collect the precise location of your device when the app is running in the foreground or background. Your location information is necessary for things like matching users with stylists near you, and determining service location. If you give us permission through your device settings or BlowOutGoOut app, we may collect your location while the app is off to identify promotions or service updates in your area.<br><br>

    <strong>Device Information.</strong> BlowOutGoOut receives information from users devices, including IP address, web browser type, mobile operating system, phone carrier and manufacturer, application installations, device identifiers, mobile advertising identifiers, push notification tokens, and, if you register with your social media accounts, your social media site identifier.<br><br>

    <strong>Usage Information.</strong> To help us understand how you use the BlowOutGoOut platform and to help us improve it, we automatically receive information about your interactions with the BlowOutGoOut platform, such as the pages or other content you view, your actions within the BlowOutGoOut app, and the dates and times of your visits.<br><br>

    <strong>Call and Text Information.</strong> We work with a third party partner to facilitate phone calls and text messages between users and stylists who are scheduling an appointment. We receive information about these communications including the date and time of the call or SMS message, the parties’ phone numbers, and the content of any SMS messages. For security purposes, we may also monitor and/or record the contents of phone calls made on the BlowOutGoOut platform, such as those between users and stylists. You will be given a notice that your call may be recorded, and by proceeding you agree to allow BlowOutGoOut to monitor and or record your call.<br><br>

    <strong>User Feedback.</strong> We at BlowOutGoOut, want to make sure Users are always enjoying great BlowOuts. Users and Stylists can rate and review each other at the end of every BlowOut appointment. We receive information about ratings and reviews and, as we explain below, we give users information about stylists’ ratings and review as well the same to stylists about the users.<br><br>

    <strong>Address Book Contacts.</strong> If you permit BlowOutGoOut to access the address book on your device through the permission system used by your mobile platform, we may access and store names and contact information from your address book to facilitate invitations and social interactions that you initiate through our platform and for other purposes described in this privacy policy or at the time of consent or collection.<br><br>

    <strong>Information from Cookies and Other Technologies.</strong> We will collect information through the use of “cookies”, tracking pixels, and similar technologies to understand how you navigate through the BlowOutGoOut platform and interact with BlowOutGoOut advertisements, to learn what content is popular, and to save your preferences. Cookies are small text files that web servers place on your device; they are designed to store basic information and to help websites and apps recognize your browser. We may use both session cookies and persistent cookies. A session cookie disappears after you close your browser. A persistent cookie remains after you close your browser and may be accessed every time you use the BlowOutGoOut platform. You should consult your web browsers to modify your cookie settings. Please note that if you delete or choose not to accept cookies from us, you may be missing out on certain features of the BlowOutGoOut platform.</p>
  </div>
  <div class="column is-full">
    <h3>1.3 Information we collect from third parties</h3>
    <p><strong>Third party services.</strong> If you choose to register for BlowOutGoOut or otherwise link your BlowOutGoOut account with a third party’s service (such as facebook, linkedin,etc.), we may receive the same type of information we collect from you previously described above directly from those services.<br><br>

    <strong>Third party partners.</strong> We may receive additional information about you, such as demographic data, payment information, or fraud detection information, from third party partners and combine it with other information that we have about you.<br><br>

    <strong>Background information on stylists.</strong> BlowOutGoOut works with third party partners to perform criminal background checks on stylists, and we receive information from them such as publicly available information about a stylist’s record or criminal history.</p>
  </div>
  <div class="column is-full">
    <h3>1.4 How we use the collected information</h3>
    <p>We use the information we collect from all Users to:</p>
    <ul>
      <li>Connect with stylists</li>
      <li>Facilitate transactions and payments</li>
      <li>Provide you with customer service and support</li>
      <li>Provide, improve and expand, the BlowOutGoOut platform</li>
      <li>Analytics on how and when users use the BlowOutGoOut Platform</li>
      <li>Communicate with users, either directly or through third party partners, including for marketing and promotional purposes</li>
      <li>Send users and stylists text messages and push notifications</li>
      <li>Find and/or prevent fraud</li>
    </ul>
  </div>

</section>
