<section class="hero is-medium is-primary bg-stylist-hero">
  <div class="bg-hero-body">
    <div class="container has-text-centered bg-container">
      <h1 class="title is-size-2 is-uppercase bg-hero-title">
        More Earnings, More Flexibility, More Freedom
      </h1>
      <h2 class="subtitle is-size-4 bg-hero-subtitle">
        Say goodbye to scheduling conflicts, overhead, micromanaging and brick & mortar. Transform the way you work and live.
      </h2>
      <div class="buttons is-centered">
        <span class="button is-large ghost-btn stylist-apply-btn">Apply Now</span>
      </div>
    </div>
  </div>
</section>

<section class="section qualification-section">
  <div class="container is-fluid bg-shadow-container">
    <h2 class="title has-text-centered is-pink bg-bh-title">Qualifications</h2>
    <div class="level qualification-columns">
      <div class="level-item has-text-centered">
        <div>
          <%= image_tag 'license.svg' %>
          <p class="is-5 is-pink qualification-text">Current Cosmetology<br>License</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <%= image_tag 'phone.svg' %>
          <p class="is-5 is-pink qualification-text">Smart Phone<br>(iPhone/Android)</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <%= image_tag 'trust.svg' %>
          <p class="is-5 is-pink qualification-text">Passion for People<br>and Hair</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <%= image_tag 'car.svg' %>
          <p class="is-5 is-pink qualification-text">Reliable<br>Transportation</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container is-fluid why-section">
    <h3 class="title has-text-centered is-4 why-section-title">Why Partner with Blow Out Go Out?</h3>
      <div class="columns is-fluid why-content">
        <div class="column">
          Image
        </div>
        <div class="column">
          <div class="content-1">
            Earn $40+ per hour
          </div>
          <div class="content-2">
            Choose your own schedule
          </div>
          <div class="content-3">
            Work anywhere-anytime
          </div>
        </div>
      </div>
  </div>
</section>

<div class="modal stylist-form-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
