// Anything you want to be a site wide style should go in this file...

body {
  font-family: 'Nunito', sans-serif;
  color: 2E3034;

  p {
    font-size: 1.15rem;
  }

//Brand Colors

  .is-pink {
    color: #ED1E74;
  }

  .is-purple {
    color: #8748AB;
  }
}
